body {
  margin: 20px;
  padding: 10%;
}

.section {
  align-items: center;
  display: flex;
}

.inputrange {
  background-color: red
}
.content {
  box-shadow: 20px 20px 20px 20px #aaaaaa;
  padding: 10px 200px 10px 200px;
  background-color: #f1f2f4;
  
}
.input {
  width: 24px;
  height: 10px;
  text-align: center;
  background-color: #ddd;
}

#divColor {
  width: 80px;
  height: 80px;
  margin-left: 150px;
  border: 1px solid #ddd;
  background-color: black;
  border-radius: 40px;
}

.textPred {
  width: 150px;
  color: red;
}

.textPgreen {
  width: 150px;
  color: green;
}

.textPblue {
  width: 150px;
  color: blue;
}
